@import "../../app.scss";

.contact {
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 3rem;

  @include mobile {
    width: 100%;
    flex-direction: column;
  }

  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2.75rem;

    @include mobile {
      gap: 1.25rem;
      align-items: center;
      text-align: center;
    }

    h1 {
      font-size: 8rem;
      line-height: 88px;

      @include mobile {
        font-size: 6rem;
      }
    }
    span {
      font-weight: 300;
    }
  }
  .formContainer {
    flex: 1;
    position: relative;

    .phonesvg {
      position: absolute;

      img {
        object-fit: cover;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      input,
      textarea {
        padding: 1rem;
        background: transparent;
        border: 1px solid lightgray;
        color: white;
        border-radius: 5px;
      }
      button {
        padding: 1rem;
        background-color: orange;
        border: none;
        cursor: pointer;
        font-weight: 500;
      }
    }
  }
}
